<mat-toolbar id="app-toolbar" color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      <mat-icon svgIcon="angular"></mat-icon>
      Bank
    </a>
    <span class="example-spacer"></span>
    <ng-container *ngIf="!auth.isLogged()">
      <a mat-button routerLink="/login"> Login </a>
      <a mat-button routerLink="/register"> Register </a>
    </ng-container>
    <ng-container *ngIf="auth.isLogged()">
      <button mat-icon-button>
        <mat-icon routerLink="/account">account_circle</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="auth.logout()">power_settings_new</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
