<div class="app">
  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary" >
    <mat-toolbar-row>
      <a mat-button routerLink="/">
        <mat-icon svgIcon="angular"></mat-icon>
        Bank
      </a>
      <span class="example-spacer"></span>
      <ng-container *ngIf="!auth.isLogged()">
        <a mat-button routerLink="/login"> Login </a>
        <a mat-raised-button routerLink="/register"> Register </a>
      </ng-container>
      <ng-container *ngIf="auth.isLogged()">
        <a mat-button *ngIf="user.user$ | async as user" routerLink="/account">
          {{ user.firstName }}
        </a>
        <a mat-icon-button routerLink="/account">
          <mat-icon>account_circle</mat-icon>
        </a>
        <a mat-icon-button (click)="auth.logout()">
          <mat-icon>power_settings_new</mat-icon>
        </a>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>
