::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  padding: 10px;
}
.fields, .buttons {
  display: flex;
}
.fields > *, .buttons > * {
  flex: 1;
}
.fields {
  flex-direction: column;
}
.buttons > :not(:last-child) {
  margin-right: 10px;
}
h1 {
  text-align: center;
}
